.form {
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    > * {
        margin-bottom: $m-size;
    }
}

.from__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}